.bg-green{
    background-color: rgb(5, 44, 49);
}

.text-style {
    
    color: rgb(159, 154, 154);
}

.footer-txt{
    font-family: 'Stimpson', sans-serif;
    color: rgba(26, 174, 105, 0.842);
    font-size:32px;
    margin-bottom:-10px;
    margin-top:10px;
}

.logo-image {
    border-radius: 20px;
    padding: 15px;

    //margin: 25px;
    background-color: white;
    display: flex;

    width: fit-content;
    /* or a specific width if preferred */
    box-shadow: inset 0 0px 12px 10px rgba(0, 0, 0, 0.4),
        /* inner shadow */
        0 0 10px rgba(0, 0, 0, 0.5);
    /* outer shadow */
    transition: box-shadow 0.3s ease;
    /* smooth transition */
}

.logo-image img{
    width:80px;
}