<!-- Breadcrumb Block -->

<div class="bgs-light py-5 shadow">
    <div class="container ">
        <div class="d-flex justify-content-between">
            <h1 class="fw-light title-overlay">Insurance Products</h1>
        </div>
        <h6 style="margin-top:-25px; color:rgba(195, 194, 194, 0.826)">We offer a range of services to meet your
            insurance needs,
            including:</h6>
    </div>
</div>



<section class="body">
    <div class="card card-bg card-pad shadow">
        <div class="card-slider justify-content-between">
            <button class="btn btn-primary left-arrow custom-button" (click)="scrollLeft()">&lt;</button>
            <div class="card-container" #cardContainer>
                <div class="card card-bg" *ngFor="let item of items; let i = index"
                    [ngClass]="{'highlight': selectedIndex === i}" (click)="selectCard(i)">
                    <div class="image-wrapper">
                        <img [src]="item.imageUrl" class="card-img-top" alt="{{ item.title }}" />
                        <div class="overlay-text">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <p class="card-text">{{ item.subtitle }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary right-arrow custom-button" (click)="scrollRight()">&gt;</button>
        </div>
        <br>




        <div>
            <br>
            <p class="display-4 fs-2" style="text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);">{{ selectedItem.title }}
                Insurance</p>
        </div>
        <hr style="width: 55%;margin:auto;">

        <div class=" service-4">
            <div class="container">
                <br>

                <p class="fs-6" style="color: rgba(18, 70, 118, 0.779)" *ngIf="selectedItem.description"
                    [innerHTML]="selectedItem.description"></p>
                <!-- Row  -->
                <div class="row">
                    <!-- Column -->
                    <div *ngFor="let s of selectedItem.content; let i = index" class="col-md-6 wrap-service4-box">
                        <div class="insurance-tile">

                            <div style="margin-right:20px;" class="icon-container">
                                <!-- Replace the SVG below with your desired SVG -->
                                <!-- SVG Image 1 -->
                                <img src="assets/icons/ring.svg" class="icon">
                            </div>
                            <div >
                                <h6 class="font-weight-medium">{{s[0]}}</h6>
                                <p [innerHTML]="s[1]" class="mt-4"></p>
                            </div>

                        </div>
                    </div>
                    <!-- Column -->

                </div><br><br>
            </div>
        </div>


    </div>
</section>