.bgs-light {
    background-image: url('/assets/images/conifers.jpg');
    /* Replace with your image path */
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image in the div */
    background-repeat: no-repeat;
    /* Prevents tiling of the image */
    background-attachment: fixed;
    /* Keeps the background fixed as the content scrolls (optional) */
    padding: 5rem 0;
    height: 270px;
}

/* Style for the title overlay */

.title-overlay {
    color: rgb(225, 222, 222);
    font-size: 3rem;
    /* Adjust size as needed */
    font-weight: bold;
    font-family: 'Stimpson', sans-serif;
    text-align: center;
    z-index: 1;
    /* Ensure the title is above the image */
}

// .body {
//     //padding-bottom: 20px;
//     background-color: rgba(208, 212, 208, 0.822);
// }

.card-pad {
    width: 90%;
    /* 3/4 width */
    margin: 0 auto;
    /* Center the card */
    position: relative;
    top: -35px;
    /* Adjust the overlap (higher values = more overlap) */
    z-index: 1;
    padding: 30px;
    border: none;
    background-color: rgb(230, 230, 230);
}



ul.list-unstyled li:before {
    content: "✧";
    /* Use the custom bullet point */
    margin-right: 10px;
    /* Space between bullet and text */
    font-size: 1.5rem;
    /* Increase size of the bullet */
    color: #1d865c;
    /* Blue color for the bullet */
}

.centered-list {
    text-align: center;
    /* Center text within the card */
}

.icon-container {
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    color: #333
}

.icon-container:hover {
    color: rgb(31, 91, 210);
    cursor: pointer;
}

.content-container {
    display: flex;
    justify-content: center;
    /* Centers the items horizontally */
    align-items: center;
    /* Centers the items vertically */
    flex-direction: column;
    /* Stacks the items vertically */
    text-align: center;
    /* Centers the text within the list items */
    width: fit-content;
}

.list-unstyled {
    padding: 0;
    /* Removes default padding */
    margin: 0;
    /* Removes default margin */
}

.text {
    margin: 20px;
    //font-family: 'Stimpson', sans-serif;
    font-size: 18px;
    font-weight: light;
}