<div class="bgs-light py-5 shadow">
    <div class="container ">
        <div class="d-flex justify-content-between">
            <h1 class="fw-light title-overlay">Why Choose Us?</h1>
        </div>
        <h6 style="margin-top:-25px; color:rgba(195, 194, 194, 0.826)">Discover how our expertise and services can make
            a
            difference in your insurance journey.</h6>
    </div>
</div>

<section class="body">
    <div class="card card-pad shadow">
        <!-- Row 1: Text -> Image -->
        <div class="row">
            <div class="col text">
                <ul class="list-unstyled">
                    <li>We provide independent professional advice to our Clients to implement and assist in their
                        Insurance Programs.</li>

                    <li>We have at our disposal the entire range of products available in the Industry, which allows us
                        to
                        design tailor-made insurance programs for our clients.</li>
                    <li>We acquire a detailed understanding of our Clients’ business along with the risks involved in
                        order to implement and coordinate an overall insurance strategy that is effective and easy to
                        administer.</li>

                </ul>

            </div>
            <div class="col image hide-img">
                <!-- SVG Image 1 -->
                <img style="width:250px;" src="assets/images/call.png" class="tile-icon">
            </div>
        </div>

        <!-- Row 2: Image -> Text -->
        <div class="row">
            <div class="col image pad">
                <!-- SVG Image 2 -->
                <img style="width:200px;" src="assets/images/medical.png" class="tile-icon">
            </div>
            <div class="col text">
                <ul class="list-unstyled">


                    <li>We execute our Clients’ instructions in an efficient manner including the arrangement of
                        insurance, and negotiation with the Insurers.
                    </li>
                    <li>We maintain clear records of our Clients’ business history so that we can advise our Clientele
                        effectively regarding renewals, recommend new Covers/Policies.
                    </li>
                    <li>We are well informed of related laws and market developments and keep ourselves up to date
                        with
                        trends in the Industry.</li>

                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col text">
                <ul class="list-unstyled">

                    <li>All claims will receive a professionally managed, end-to-end service ensuring our Clients’ with
                        a speedy and fair settlement.</li>

                    <li>In addition to the local market, we also have access to international Insurers & Reinsurance
                        Brokers.
                    </li>

                    <li>Our services are free of charge to our Clients’</li>
                </ul>

            </div>
            <div class="col image">
                <!-- SVG Image 1 --> <img style="width:450px;" src="assets/images/people.png" class="tile-icon">
            </div>
        </div>
    </div>


</section>