<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
                <hgroup >
                    <div class="logo-image">
                        <img src="../../../assets/images/ecib-logo-nobg.png" alt="Example Image">
                    </div>
                    <h5 class="hero-title">Successors to: Carimjee Jafferjee Established 1831</h5>
                </hgroup>
                <span class="row centered-row">
                    <button routerLink="/about-us" class="btn hero-btn">About Us</button>
                    <button routerLink="/what-we-offer" class="btn hero-btn">What We Offer</button>
                    <button routerLink="/why-choose-us" class="btn hero-btn">Why Choose Us</button>
                    <button routerLink="/insurance" class="btn hero-btn">Insurance Products</button>
                    <button routerLink="/contact-us" class="btn hero-btn">Contact Us</button>
                </span>
            </div>
        </div>
    </div>
</div>