<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="carousel-item slides active">

            <div class="slide-1"></div>
            <div class="hero">
                <hgroup>
                    <div>
                        <img src="../../../assets/images/stockalysis-logo.png" alt="Example Image">
                    </div>
                    <h5 class="hero-title">Stockalysis - Analyze and Predict Stock Prices</h5>
                </hgroup>
                <span class="row centered-row">
                    <button routerLink="/stock-analysis" class="btn hero-btn">Analyze Stocks</button>
                    <button routerLink="/contact-us" class="btn hero-btn">Contact Us</button>
                </span>
            </div>
        </div>
    </div>
</div>

