<div class="bgs-light py-5 shadow">
    <div class="container ">
        <div class="d-flex justify-content-between">
            <h1 class="fw-light title-overlay">About Us</h1>
        </div>
        <h6 style="margin-top:-25px; color:rgba(195, 194, 194, 0.826)">Time transforms… and what stands the test of time
            becomes valuable</h6>
    </div>
</div>

<section class="py-3 py-md-5" style="background-color:rgb(225, 225, 225)">
    <div class="container">

        <div class="row justify-content-xl-center">
            <div class="col-auto">
                <!-- <h2 class="mb-3">Time transforms… and what stands the test of time becomes valuable</h2> -->
                <p class="fs-5 text-secondary mb-0">For over 50 years, Essajee Carimjee Insurance Brokers
                    (Pvt) Ltd., has employed time effectively and wisely to become one of the oldest Insurance
                    Service Providers in Sri Lanka with a reputation for trust and integrity.</p>
                <p class="fs-5 text-secondary mb-0">
                    From the complex Insurance requirements of corporates to the personal Insurance
                    needs of families and individuals, Essajee’s provides customized packages to suit the
                    varying needs in all classes of Insurance and forges ahead with a commitment to withstand,
                    adapt, grow and remain timeless.</p>

                <br><br>
                <div class="row centered-row">
                    <div class="col-auto">
                        <div class="card-policies">
                            <div class="card-content">
                                <h2 class="card-title">Our Policy</h2>
                                <p>To satisfy our customers whether it be the complex
                                    insurance requirements of a company or the personal insurance needs of an
                                    individual/family, by providing them with the highest level of protection and
                                    financial stability at all times.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-auto">
                        <div class="card-policies">
                            <div class="card-content">
                                <h2 class="card-title">Our Mission</h2>
                                <p>Our MissionTo provide the most professional insurance
                                    advisory service in the Industry, by keeping in mind, the interests of our Customers
                                    at all times, and to protect the interests & welfare of all our Stakeholders.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-auto">
                        <div class="card-policies">
                            <div class="card-content">
                                <h2 class="card-title">Our Vision</h2>
                                <p>To be the leading insurance brokers in Sri Lanka.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <br><br><br>


                <h2 class="mb-3 title">Our Beginnings</h2><br><br>
                <p class="fs-5 text-secondary mb-0">
                    We are the successors to Carimjee Jafferjee, established in 1831 as a general trading house. In
                    1945, the Company diversified it’s activities by entering the Insurance Industry.<br><br>
                    Having entered the Insurance field over 50 years ago, we have represented both local & foreign
                    Insurance Organisations in Sri Lanka. Prior to the nationalisation of the insurance industry, we
                    were Agents for Union Life Assurance Company Limited (Union Life) of India. Thereafter, General
                    Accident Fire & Life Assurance Corporation p.l.c. (GAFLAC), a British based Insurance Company
                    acquired a major portion of Union Life’s shares appointing us as their Special Agents for Asia. We
                    continue to represent GAFLAC as their marine Settling Agents.<br><br>
                    Consequent to the nationalisation of Insurance in 1961, we were appointed Agents of the then
                    Insurance Corporation of Ceylon(presently known as the Sri Lanka Insurance Corporation Ltd.).
                    Subsequently in 1979, the National Insurance Corporation was formed, and we were appointed Agents
                    for Whittal Boustead Ltd., - Principal Agents for the National Insurance Corporation.
                    In 1988, the government reversed its long-standing policy prohibiting private Companies to operate
                    within the country. This change in policy launched a new era in the insurance industry. Although
                    regulated to meet high standards of the insurance trade, private Companies were now allowed to
                    directly compete for business from the two government Corporations, thus providing the insuring
                    public with better coverage and specialized services at very competitive rates of premium.
                    Subsequently, the government divested their holdings in the two government owned Insurance
                    Corporations, making all Insurance Companies owned and operated by the private sector.<br><br>
                    During the period of privatization, Insurance Brokers were also introduced to the market, to provide
                    the insuring public with specialized services. We were amongst one of the very first Companies to be
                    appointed as Insurance Brokers in Sri Lanka.
                    We take pride in our achievements, whether it be the complex insurance requirements of Corporations
                    or the personal insurance needs of a small family, our qualified and experienced staff will provide
                    you with a professional and personalised service,ensuring maximum protection at all times. Our many
                    satisfied clients are our testimony to our success. Dealing with various underwriters, we have
                    successfully maintained a very warm and cordial relationship with all Insurers operating within the
                    country. Having worked as Agents and Brokers for many underwriting establishments, we have
                    nonetheless become a part of history of the insurance trade in Sri Lanka.
                </p>

                <br><br>
                <h2 class="mb-3 title centered-row">Our Directors</h2>

                <br><br>
                <div class="row mb-5">
                    <div class="col-md-6 order-md-2">
                        <img src="../../../assets/images/imran.png"
                            class="img-fluid border-white border-w-5 circle-image">
                    </div>
                    <div class="col-md-6 flex-valign text-md-right">
                        <h3 class="text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold profile-text">
                            Imran Essajee
                        </h3>
                        <h5 class="my-0 font-weight-normal">
                            <em>Chairman | Managing Director | Principal Officer</em>
                        </h5>
                        <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
                        <p>Mr. Imran Essajee has over 35 years of experience in Insurance. Instrumental in establishing
                            Essajee’s Insurance Broking functions. He was instrumental in embarking the Company to
                            becoming Insurance Brokers upon the liberalization of the Insurance Industry in Sri Lanka.
                            He also has extensive experience in Risk Management & dealing with Overseas Insurer’s. Mr.
                            Essajee holds a Bachelor of Science Degree from the University of Southwestern Louisiana
                            (now University of Louisiana) in Lafayette, Louisiana, USA.</p>
                        <strong>Email: </strong> <a href="mailto:imran@essajee.com" data-toggle="scroll-link"
                            class="text-sm font-weight-bold"><i
                                class="fa fa-chevron-right text-xs text-pink"></i>imran&#64;essajee.com</a>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-6 text-md-right">
                        <img src="../../../assets/images/reza.png"
                            class="img-fluid border-white border-w-5 circle-image">
                    </div>
                    <div class="col-md-6 flex-valign">
                        <h3 class="profile-text text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
                            Reza Ghiasudeen
                        </h3>
                        <h5 class="my-0 font-weight-normal">
                            <em>Director | Additional Principal Officer</em>
                        </h5>
                        <hr class="hr-primary w-70 ml-0 mb-3">
                        <p>Mr. Reza Ghiasudeen has over 30 years of Insurance experience. He is responsible for the
                            Insurance Broking functions of the Company & is widely experienced in both Underwriting and
                            Claims. He is also responsible for the network Partnerships with Overseas Insurers &
                            Insurance Brokers & the placement of specialized policies. Mr. Ghiasudeen is also oversees
                            the Company’s Insurance Consultancy Services.</p>
                        <strong>Email: </strong> <a href="mailto:reza@esajee.com" data-toggle="scroll-link"
                            class="text-sm font-weight-bold"><i
                                class="fa fa-chevron-right text-xs text-pink"></i>reza&#64;essajee.com</a>
                    </div>
                </div>

                <h2 class="mb-3 title centered-row">Our Team</h2><br><br>

            </div>

            <div class="d-flex lower-pad">
                <div class="me-4 text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#24a74f" class="bi bi-person"
                        viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM2 14s-1 0-1-1 1-4 7-4 7 4 7 4-1 1-1 1H2z" />
                    </svg>
                </div>
                <div class="bs-card-pad">
                    <h2 class="h4 mb-3 fs-2">Dilrukshi Perera – Head of Insurance Operations – <a href="mailto:dilrukshi@essajee.com">dilrukshi&#64;essajee.com</a>
                    </h2>
                    <p class="text-secondary mb-0">Dilrukshi has more than 15 years of experience in the Insurance
                        Industry. She possesses extensive knowledge in International Insurance Products. Her vast
                        experience includes both Underwriting & Claims handling. She is responsible for designing
                        policies that align with the overall strategy of the Company and implements efficient processes
                        and standards that are acceptable to our Clients’ as well as the Insurance Industry. Dilrukshi
                        also coordinates Customer Service Operations and ensures Customer satisfaction and retention.
                    </p>
                </div>

            </div>

            <div class="d-flex lower-pad">
                <div class="me-4 text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#24a74f" class="bi bi-person"
                        viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM2 14s-1 0-1-1 1-4 7-4 7 4 7 4-1 1-1 1H2z" />
                    </svg>
                </div>
                <div class="bs-card-pad">
                    <h2 class="h4 mb-3 fs-2">Sumudu Herath – Finance & Administration Manager – <a href="mailto:sumudu@essajee.com">sumudu&#64;essajee.com</a>
                    </h2>
                    <p class="text-secondary mb-0">Mrs. Herath is responsible for the overall smooth & efficient
                        functioning of both the Finance & Administration Departments of the Company. She possesses over
                        25 years of experience in Accountancy in the field of Management & Financial Accounting. She
                        also has put in place many procedures and strategies that help navigate the operations of the
                        department with ease. Her expertise also extends to liaising with all Government & Statutory
                        Bodies. She has successfully completed the Certified Management Account (Sri Lanka) Course -
                        Managerial Level.
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>